<!-- MENU Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a href="/"><i class="dripicons-meter"></i>Home</a>
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="dripicons-broadcast"></i>Master</a>
                    <ul class="submenu">
                        <li><a href="/customers">Customer</a></li>
                        <li><a href="/restos">Resto</a></li>
                        <li><a href="/products">Product</a></li>
                        <li><a href="/drivers">Driver</a></li>
                    </ul>
                </li>

            </ul>
            <!-- End navigation menu -->
        </div> <!-- end #navigation -->
    </div> <!-- end container -->
</div> <!-- end navbar-custom -->